<section data-bs-version="5.1" class="menu menu1 programm5 cid-tFcg6m8FPY" once="menu" id="menu1-0">



    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="menu_box container-fluid">
            <div class="navbar-brand d-flex">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="/assets/images/5904407-100x100.png" alt="Mobirise">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption display-5" href="/">Spaniard Seeds</a></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-primary display-4" href="/catalog">Каталог</a></li>

                    <li class="nav-item"><a class="nav-link link text-primary display-4" href="/sales_delivery">Оплата<br>доставка<br>скидки</a></li>
                    <li class="nav-item"><a class="nav-link link text-primary display-4" href="/legal">Закон</a></li><li class="nav-item"><a class="nav-link link text-primary display-4" href="/reviews">Отзывы</a></li>
<li class="nav-item"><a class="nav-link link text-primary display-4" href="/all_articles">Наши статьи</a></li></ul>

                {% if inn %}
                <div class="mbr-section-btn-main" role="tablist"><a class="btn btn-info display-7" href="/basket"><span class="fa fa-shopping-cart mbr-iconfont mbr-iconfont-btn"></span>Корзинка&nbsp;</a>
                    {% if admin %}
                    <a class="btn btn-danger-outline display-7" href="/admin"><span class="mobi-mbri mobi-mbri-database mbr-iconfont mbr-iconfont-btn"></span>Админ панель&nbsp;</a>
                    {% endif %}
                   
 <a class="btn btn-secondary display-7" href="/profile">Мои заказы</a></div>
                {% else %}
                <div class="mbr-section-btn-main" role="tablist"><a class="btn btn-info display-7" href="/basket"><span class="fa fa-shopping-cart mbr-iconfont mbr-iconfont-btn"></span>Корзинка&nbsp;</a>
                    <a class="btn btn-secondary display-7" href="/signup">Зарегистрироваться</a></div>
                {% endif %}
            </div>

        </div>
    </nav>
</section>
