<style>
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #e9ffb9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px; /* Загругленный низ */
    border-bottom-right-radius: 10px;
}

.logo-container img {
    max-width: 80%;
    height: 80%;
    margin-right: 10px;
}

.menu-container {
    position: relative;
}

.menu-button {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid red;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 20px; /* Загругленные углы */
}

.menu-button::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid white;
    border-radius: 20px; /* Загругленные углы */
    pointer-events: none; /* Позволяет кликать сквозь бордер */
}

.menu-item {
    padding: 10px;
    text-align: center;
    max-height: 8rem;
    max-width: 8rem;
    color: #4e5d2f;
    text-decoration: none;
}



.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #e9ffb9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-container:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
}

/* Обновленные стили для значков */
.menu-item img {
    max-height: 100%;
    max-width: 100%;
}




</style>
<div style="background-color: #e9ffb9; padding: 10px; display: flex; justify-content: space-between; align-items: center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;" class="header">
    <div style="display: flex; align-items: center;" class="logo-container">
        <a href="/"><img style="height: 4rem; width: 4rem; max-width: 60%; height: 60%; margin-right: 10px;" src="/assets/images/5904407-100x100.png" alt="Лого 1"></a>
        &nbsp;&nbsp;&nbsp;
       <a href="/"> <img style="height: 6rem; width: 19rem;" src="/assets/images/меню.png" alt="Лого 2"></a>
    </div>
    <div style="position: relative;" class="menu-container">
        <button class="menu-button">Меню v</button>
        <div class="dropdown-menu">
            <div class="menu-item"><a href="/catalog"><img src="/assets/images/каталог.png" alt="Каталог"></a></div>
            <div class="menu-item"><a href="/sales_delivery"><img src="/assets/images/доставка.png" alt="Доставка Скидки Оплата"></a>
            </div>
            <div class="menu-item"><a href="/legal"><img src="/assets/images/закон.png" alt="Закон"></a></div>
            <div class="menu-item"><a href="/all_articles"><img src="/assets/images/статьи.png" alt="Наши статьи"></a></div>
            <div class="menu-item"><a href="/reviews"><img src="/assets/images/ыфлиофолвол (1).png" alt="Отзывы"></a></div>
            <div class="menu-item"><a href="/basket"><img src="/assets/images/корзина.png" alt="Корзина"></a>
            </div>
{% if inn %}
	   <div class="menu-item"><a style="color: #4e5d2f; text-decoration: none;" href="/profile"><h5>Профиль</h>
            </a></div>
{% else %}
            <div class="menu-item"><a href="/login"><img src="/assets/images/вход.png" alt="Вход"></a>
            </div>
{% endif %}
{% if admin %}
            <div class="menu-item"><a style="color: #4e5d2f; text-decoration: none;" href="/admin"><h5>Админ панель</h5>
            </a></div>
{% endif %}  
          <!-- Добавьте другие иконки по аналогии -->
        </div>
    </div>

</div>
