<section data-bs-version="5.1" class="footer1 programm5 cid-tFcguy0QTa" once="footers" id="footer1-9">






    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="title-wrapper">
                    <a href="#">
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Spaniard Seeds</h2>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-2">

            </div>
            <div class="col-12 col-lg-2">

            </div>
            <div class="col-12 col-lg-2">

            </div>
            <div class="col-12 col-lg-6">
                <div class="contacts-wrapper">
                    <ul class="list mbr-fonts-style display-7">
                        <li class="item-wrap">Лучшие семена конопли!</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="social-row">
                    <div class="contacts-wrapper">
                    <ul class="list mbr-fonts-style display-7">
                        <li class="item-wrap">Наши контакты:</li>
                    </ul>
                </div>
                    <div class="soc-item">
                        <a href="https://t.me/+MGsPhG8sFnA0Njli" target="_blank">
                            <span class="mbr-iconfont mobi-mbri-paper-plane mobi-mbri"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://t.me/Spaniardseedsbot" target="_blank">
                            <span class="mbr-iconfont mobi-mbri-paper-plane mobi-mbri"></span>
                        </a>
                    </div>



                </div>
            </div>
            <div class="col-12">
                <p class="mbr-fonts-style copyright display-4">
                    ©&nbsp;Spaniard Seeds 2023</p>
            </div>
        </div>
    </div>
</section>